<div class="formContainer">
    <div class="col-sm-12 col-md-12 col-lg-12 formBody">
        <div class="row formHeader headerFormMenu">
            <div style="float: left" class="widget-title"><h4 style="margin:5px;">Order Details</h4></div>
            <span class="pull-right button_container"><a class="button btn_cancel"><span class="glyphicon glyphicon-remove"></span></a></span>
        </div>
        <form class="middleForm" action="#">
            <div class="row">
                <div class="col-sm-12 col col-md-6">
                    <div class="info_item">
                        <h4><label for="cells">Basic Info</label></h4>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="Name">Buyer</label>
                            </div>
                            <div class="col-md-8">
                                <a id="btn_buyer_details" class="auto_bind" data-binding="Buyer"></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="Name">Quantity</label>
                            </div>
                            <div class="col-md-8 auto_bind" data-binding="Quantity">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="Name">Style</label>
                            </div>
                            <div class="col-md-8 auto_bind" data-binding="Style">
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="Name">Color</label>
                            </div>
                            <div class="col-md-8 auto_bind" data-binding="Color">
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="Name">Size</label>
                            </div>
                            <div class="col-md-8 auto_bind" data-binding="Size">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col col-md-6">
                    <div class="info_item">
                        <h4><label for="cells">Date Info</label></h4>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="Name">Order at</label>
                            </div>
                            <div class="col-md-6 auto_bind" data-binding="OrderDate">
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="Name">Deliver Date</label>
                            </div>
                            <div class="col-md-6 auto_bind" data-binding="DeliveryDate">
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="Name">Production Start At</label>
                            </div>
                            <div class="col-md-6 auto_bind" data-binding="ProductionStartAT">
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="Name">Delivered At</label>
                            </div>
                            <div class="col-md-6 auto_bind" data-binding="DeliveredAt">
                                11/10/2015
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row empty_style">
                        <h4 style="float:left"><label>Materials</label></h4>
                        <div class="empty_style button_container row pull-right">
                            <a href="#" class="btn btn-white btn-default btn-round pull-right" id="btn_Add_new"><span class="glyphicon glyphicon-plus"></span>New</a>
                        </div>
                    </div> 
                </div>
                <div id="material_grid" class="col-md-12">

                </div>
            </div>
            <div class="row">
                <div class="text-center formFooter FooterFormMenu">
                    <button class="btn btn_cancel btn-white btn-default btn-round" type="button">
                        <span class="glyphicon glyphicon-remove"></span>
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>



