#drop{
    padding: 40px 50px;
    margin-bottom: 30px;
    border: 2px solid #428bca;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;

    font-size:16px;
    font-weight:bold;
    color:#7f858a;
}
#drop.dragging{
    background-color:#aadac1
}

#drop input{
    display:none;
}

#upload_container ul{
    list-style:none;
}

#upload_container ul li{
    background-color: #428bca;
    border: 1px solid #428bca;
    border-radius: 5px;
    height: 52px;
    padding: 15px;
    position: relative;
    margin-bottom:10px;
}
#upload_container ul li span{
    color:#ffffff;
}
#upload_container ul li span.icon_container{
    display: inline-block;
    width: 100px;
}
#upload_container ul li span.glyphicon-file{
    font-size:3em;
    position:absolute;
}
#upload_container ul li span img{
    left: 5px;
    max-height: 50px;
    max-width: 100px;
    position: absolute;
    top: 0px;
}
#upload_container ul li .button{
    border-color:#3c5a4b;
}
#upload_container ul li .button .glyphicon{
    color:#3c5a4b;
}
#upload_container ul li .button:hover{
    border-color:#222;
}
#upload_container ul li .button .glyphicon:hover{
    color:#222;
}

