<div class="formContainer">
    <div class="col-sm-12 col-md-12 col-lg-12 formBody">
        <div class="row formHeader headerFormMenu">
            <div style="float: left" class="widget-title"><h4 style="margin:5px;">New Seller</h4></div>
            <span class="pull-right button_container"><a class="button btn_cancel"><span class="glyphicon glyphicon-remove"></span></a></span>
        </div>
        <form class="middleForm" action="#">
            <div class="row">
                <div class="col-md-12">
                    <section class="col-sm-12 col col-md-6 ">
                        <div><label for="Name">Name</label></div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-tag"></span>
                            </span>
                            <input type="text" value="" required data-binding="Name" name="Name" class="form-control">
                        </div>
                    </section>
                    <section class="col-sm-12 col col-md-6 ">
                        <div><label for="Name">Phone</label></div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-tag"></span>
                            </span>
                            <input type="text" data-binding="Phone" name="Phone" class="form-control">
                        </div>
                    </section>
                    
                    <section class="col-sm-12 col col-md-6">
                        <div><label for="StartDate">Email</label></div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            <input type="email" data-binding="Email" name="Email" class="form-control k-textbox" >
                        </div>
                    </section>
                    <section class="col-sm-12 col col-md-6 ">
                        <div><label for="Name">Address</label></div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-tag"></span>
                            </span>
                            <textarea name="Address" data-binding="Address" class="form-control"></textarea>
                        </div>
                    </section>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <section class="col-md-12 col col-md-12">
                        <div><label for="BirthTypeId">Description</label></div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="ace-icon fa fa-child fa fa-child green"></i>
                            </span>
                            <textarea name="Description" data-binding="Description" class="form-control"></textarea>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="text-center formFooter FooterFormMenu">
                    <button class="btn btn_save btn-white btn-default btn-round" type="submit">
                        <span class="glyphicon glyphicon-save"></span>
                        Save
                    </button>
                    <button class="btn btn_cancel btn-white btn-default btn-round" type="button">
                        <span class="glyphicon glyphicon-remove"></span>
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>



